@import url(https://fonts.google.com/specimen/Lexend+Deca);
@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:flex; 
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}
.preview-card{
    display: flex;
    width: 80%;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
.card{
    display: flex;
    flex-direction:column;
    padding: 80px 83px 80px 83px;
    gap: 2rem;
}
.text {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction:column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.text h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 2.5rem;
}
.text p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 350;
    line-height: 1.5;
}
.learn-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 95%);
    border: 3px solid hsl(0, 0%, 95%);
    width: 75%;
    height: 3rem;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.learn-more-btn:hover {
    background: inherit;
}

.learn-more-btn:hover a {
    color: hsl(0, 0%, 95%);
}

.learn-more-btn a {
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
}
#sedan{
    background-color:hsl(31, 77%, 52%)
}
#suv{
    background-color:hsl(184, 100%, 22%)
}
#luxury{
    background-color:hsl(179, 100%, 13%)
}
.color1 a{
    color:hsl(31, 77%, 52%)
}
.color2 a{
    color:hsl(184, 100%, 22%)
}
.color3 a{
    color:hsl(179, 100%, 13%)
}

 /*mobile view */

@media(max-width:700px) {
    .container {
        height: fit-content;
    }
    .preview-card {
        width: 80%;
        flex-direction:column;
    }
    .learn-more-btn {
        width: 80%;
    }
    .text {
        margin-bottom: 1rem;
    }
}